
.main-bg {
    background-color: #672853;
}

html, body, .main-height {
    height: 100%;
}

body
{
    background-attachment: fixed;
    overflow-x: hidden;
}

.main-height {
    display: table;
    width: 100%;
}

.main-height-text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}