
.main-bg {
    background-color: #672853;
}

html,
body,
.cover {
    height: 100%;
}

body
{
    background-attachment: fixed;
    overflow-x: hidden;
}

.cover {
    display: table;
}

.cover-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}