
.main-bg {
    background-color: #672853;
}

html,
body,
.cover {
    height: 100%;
}

body
{
    background-attachment: fixed;
    overflow-x: hidden;
}

.cover {
    display: table;
}

.cover-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.cover-container img {
    margin-top: 52px;
}

@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('../font/Edwardian Script ITC.ttf') format('truetype');
}

.dg-title {
    font-family: 'Edwardian Script ITC';
    font-size: 72px;
}

@media (max-width: 600px) {
    .dg-title {
        font-size: 32px;
    }
}